{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block main %}

    <div data-gb-custom-block data-tag="block">

        <h1>Panier</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="panier">
            </tbody>
        </table>
        <div>
            <button id="viderPanier" class="btn btn-primary">Vider le panier</button>
        </div>
    </div>

{% endblock %}
